.titleOurProduct-container {
  align-items: center; 
  padding: 20px;
}

.titleOurProduct-today {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.titleOurProduct-flash {
  font-size: 30px;
}
