/* Custom grid layout */
.custom-product-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;

}
.product-grid-item {
  width: 25%;
  padding: 0 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
   
  
}
.loading-container {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #666;
}
.error-container {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #ff0000;
}
/* Card styling */
.product-grid-item .ant-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #76a77c;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-grid-item .ant-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.product-grid-item .ant-card-cover img {
  height: 150px;
  object-fit: contain;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}
.product-grid-item .ant-card-body h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.current-price {
  color: #db4444;
  font-weight: 600;
  font-size: 18px;
}
.original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
}
.add-to-cart {
  margin-top: 10px;
  background-color: #000;
  border-color: #000;
  color: #fff;
  width: 100%;
  position: relative;
  bottom: 0;
}
.add-to-cart:hover {
  background-color: #333;
  border-color: #333;
}
/* Responsive */
@media (max-width: 992px) {
  .product-grid-item {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .product-grid-item {
    width: 100%;
  }
  .best-selling-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

.sold-count {
  color: #434a88;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
}
