.contact-info {
  margin-top: 30px;
}

.contact-info-item {
  margin-bottom: 20px;
}

.contact-info-item h3 {
  font-size: 20px;
  color: #333;
}

.contact-info-item p {
  color: #666;
}

.contact-info-item p a {
  color: #007bff;
}

.contact-info-item p a:hover {
  color: #0056b3;
}
