.cart-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  margin-left: 20px;
}

.cart-summary h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
}

.cart-summary p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.cart-summary .checkout-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cart-summary .checkout-button:hover {
  background-color: #45a049;
}
